#quiz {
    position:relative;
    left: 50%;
    top: 50%;
    width: 700px;
    height: 700px;
    margin-left: -350px; /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: -350px; /* Cette valeur doit être la moitié négative de la valeur du height */
    border-width: 3px;
    border-style:solid;
    border-color:black;
}

#question {
    position:relative;
    left: 50%;
    top: 50%;
    width: 700px;
    height: 700px;
    margin-left: -50px; /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: -250px; /* Cette valeur doit être la moitié négative de la valeur du height */
 
}

#answers {
    position:relative;
    left: 50%;
    top: 50%;
    width: 700px;
    height: 700px;
    margin-left: -350px; /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: -500px; /* Cette valeur doit être la moitié négative de la valeur du height */
 
}